<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4</key>
	<dict>
		<key>photos</key>
		<dict>
			<key>7</key>
			<string>location-07</string>
			<key>6</key>
			<string>location-06</string>
			<key>5</key>
			<string>location-05</string>
			<key>4</key>
			<string>location-04</string>
			<key>3</key>
			<string>location-03</string>
			<key>2</key>
			<string>location-02</string>
			<key>0</key>
			<string>location-00</string>
			<key>1</key>
			<string>location-01</string>
		</dict>
		<key>date</key>
		<date>2013-10-21T08:55:21Z</date>
		<key>name</key>
		<string>Location</string>
	</dict>
	<key>3</key>
	<dict>
		<key>photos</key>
		<dict>
			<key>7</key>
			<string>UI-UX-07</string>
			<key>6</key>
			<string>UI-UX-06</string>
			<key>5</key>
			<string>UI-UX-05</string>
			<key>4</key>
			<string>UI-UX-04</string>
			<key>3</key>
			<string>UI-UX-03</string>
			<key>2</key>
			<string>UI-UX-02</string>
			<key>1</key>
			<string>UI-UX-01</string>
			<key>0</key>
			<string>UI-UX-00</string>
		</dict>
		<key>date</key>
		<date>2013-10-10T17:00:00Z</date>
		<key>name</key>
		<string>UI-UX</string>
	</dict>
	<key>2</key>
	<dict>
		<key>photos</key>
		<dict>
			<key>0</key>
			<string>girls-in-tech1-00</string>
			<key>1</key>
			<string>girls-in-tech1-01</string>
			<key>2</key>
			<string>girls-in-tech1-02</string>
			<key>3</key>
			<string>girls-in-tech1-03</string>
			<key>4</key>
			<string>girls-in-tech1-04</string>
			<key>5</key>
			<string>girls-in-tech1-05</string>
			<key>6</key>
			<string>girls-in-tech1-06</string>
			<key>7</key>
			<string>girls-in-tech1-07</string>
			<key>8</key>
			<string>girls-in-tech1-08</string>
			<key>9</key>
			<string>girls-in-tech1-09</string>
			<key>10</key>
			<string>girls-in-tech1-10</string>
			<key>11</key>
			<string>girls-in-tech1-11</string>
			<key>12</key>
			<string>girls-in-tech1-12</string>
			<key>13</key>
			<string>girls-in-tech1-13</string>
		</dict>
		<key>date</key>
		<date>2013-10-10T17:00:00Z</date>
		<key>name</key>
		<string>Girls on tech #1</string>
	</dict>
	<key>1</key>
	<dict>
		<key>photos</key>
		<dict>
			<key>13</key>
			<string>cluj-never-sleeps-13</string>
			<key>12</key>
			<string>cluj-never-sleeps-12</string>
			<key>11</key>
			<string>cluj-never-sleeps-11</string>
			<key>10</key>
			<string>cluj-never-sleeps-10</string>
			<key>9</key>
			<string>cluj-never-sleeps-09</string>
			<key>8</key>
			<string>cluj-never-sleeps-08</string>
			<key>7</key>
			<string>cluj-never-sleeps-07</string>
			<key>6</key>
			<string>cluj-never-sleeps-06</string>
			<key>5</key>
			<string>cluj-never-sleeps-05</string>
			<key>4</key>
			<string>cluj-never-sleeps-04</string>
			<key>3</key>
			<string>cluj-never-sleeps-03</string>
			<key>2</key>
			<string>cluj-never-sleeps-02</string>
			<key>1</key>
			<string>cluj-never-sleeps-01</string>
			<key>0</key>
			<string>cluj-never-sleeps-00</string>
		</dict>
		<key>date</key>
		<date>2013-06-25T17:00:00Z</date>
		<key>name</key>
		<string>Cluj never sleeps</string>
	</dict>
	<key>0</key>
	<dict>
		<key>photos</key>
		<dict>
			<key>0</key>
			<string>gaming-night-00</string>
			<key>1</key>
			<string>gaming-night-01</string>
			<key>2</key>
			<string>gaming-night-02</string>
			<key>3</key>
			<string>gaming-night-03</string>
			<key>4</key>
			<string>gaming-night-04</string>
			<key>5</key>
			<string>gaming-night-05</string>
			<key>6</key>
			<string>gaming-night-06</string>
			<key>7</key>
			<string>gaming-night-07</string>
			<key>8</key>
			<string>gaming-night-08</string>
			<key>9</key>
			<string>gaming-night-09</string>
			<key>10</key>
			<string>gaming-night-10</string>
			<key>11</key>
			<string>gaming-night-11</string>
			<key>12</key>
			<string>gaming-night-12</string>
		</dict>
		<key>date</key>
		<date>2012-11-24T18:00:00Z</date>
		<key>name</key>
		<string>Gaming night</string>
	</dict>
</dict>
</plist>
